
/* ======= universal style ==========*/
:root{
  --aqua: #68e2ed;
  --navy: #13293d;
  --green: #174a1c;
}

* {
    box-sizing: border-box;
  }
  
  /* ======= header style ==========*/
  header {
    text-align: center;
    background: var(--green);
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items:center;
  }
  nav {
    margin-top: 20px;
    padding: 20px;
  }
  nav a {
    text-decoration: none;
    text-align: center;
    border-bottom: #68e2ed 2px solid;
    font-size: 20px;
    color: #68e2ed;
    padding: 0px 10px;
  }

  header h1 {
    background-color: var(--aqua);
    color:var(--navy);
    height: fit-content;
    min-width: 340px;
    position: relative;
    display: flex;
    text-align: center;
    padding-left: 30px;
  }

/* ======= large image below header style ==========*/
  .hero {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/mushrromLog.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    background-clip: border-box;
    height: 200px;
    margin-bottom: 20px;
  }

  .hero h2 {
    background-color: var(--aqua);
    color: var(--navy);
    min-width: 150px;
    height: fit-content;
    text-align: center;
    top: 110px;
    right: 60px;
    margin: 0;
    float: right;
    position: relative;
    font-size: 30px;
    padding: 3px;
  }

/* ======= main sections style ==========*/
  main {
    display: flex;
    /* flex-wrap: wrap; */
    align-items:stretch;
    margin-bottom: 10px;
  }
/* ======= titles on left style ==========*/
  aside {
    display: flex;
    padding: 20px;
    text-align: end;
    border-right: solid var(--navy) 3px;
    width: 200px;
    flex-direction: column;
    min-width: 200px;
  }

  .about {
    display: flex;
    align-items: center;
  }
  
/* ======= content on right style ==========*/
  section {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* for the work section items */
  .work {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .work h3 {
    background-color: var(--aqua);
    color: var(--navy);
  }

  .work p {
    background-color: var(--aqua);
    color: var(--navy);
  }

  #article1 {
    background-image: url("../images/skylineMTL.jpg");
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    order: 1;
    width: 100% !important;
    min-width: 400PX;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 2;
    height: 300px;
    background-size: contain;
    
  }
  #article2 {
    background-image: url("../images/cornMaze.jpg");
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    order: 2;
  }
  #article3 {
    background-image: url("../images/me.jpg");
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    order: 3;
  }
  #article4 {
    background-image: url("../images/trees.jpg");
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    order: 4;
  }
  #article5 {
    background-image: url("../images/barn2.jpg");
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    order: 5;
  }

  /* for articles 2-5 */
  .smaller-img {
    display: flex;
    width: 45% !important;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    flex-direction: column;
    background-size: cover;
    align-content: flex-start;
    align-items: center;
    text-align: start;
  }
  
  /* for all images */
  .sample-img {
    display: flex;
    background-color: #fff;
    padding: 20px;
    height: 200px;
    border: 4px solid var(--aqua);
    margin: 10px;
  }

  .sample-img:hover {
    box-shadow: var(--navy) 2px 10px 10px;
  }

  /* link style */
  .links a {
    text-decoration: none;
    text-align: center;
    border-bottom: var(--navy) 2px solid;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin: 10px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* footer style */
  footer {
    text-align: center;
    margin: 10px;
    height: 40px;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  /* ======= media screensize alteration ==========*/
  @media screen and (max-width: 768px) {
    main,
    nav, footer, .links {
      flex-direction: column;
      align-items: center;
    }
    aside {
      border-right: none;
      border-bottom: solid var(--navy) 3px;
      text-align: center;
      align-content: center;
    }
    header {
      height: 150%;
      flex-direction: column;
       flex-wrap: wrap;
      text-align: center;
    }
  }
  