
/* ======= universal style ==========*/
* {
    box-sizing: border-box;
  }
  
  /* ======= header style ==========*/
  header {
    text-align: center;
    background: #13293d;
    color: #68e2ed;
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items: center;
  }
  nav {
    margin-top: 20px;
    padding: 20px;
  }
  nav a {
    text-decoration: none;
    text-align: center;
    border-bottom: #68e2ed 2px solid;
    font-size: 20px;
    color: #68e2ed;
    padding: 0px 10px;
  }

  header h1 {
    background-color: #68e2ed;
    color: #13293d;
    height: 40px;
    min-width: 340px;
    text-align: right;
    position: relative;
    padding-right: 10px;
    display: flex;
  }

/* ======= large image below header style ==========*/
  .hero {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/prof\ header\ tempno.jpg);
    background-repeat: repeat-x;
    height: 200px;
  }

  .hero h2 {
    background-color: #68e2ed;
    color: #13293d;
    min-width: 150px;
    height: 50px;
    text-align: center;
    top: 110px;
    right: 60px;
    margin: 0;
    float: right;
    position: relative;
    font-size: 22px;
  }

/* ======= main sections style ==========*/
  main {
    display: flex;
    /* flex-wrap: wrap; */
    align-items:first baseline;
  }
/* ======= titles on left style ==========*/
  aside {
    display: flex;
    padding: 20px;
    text-align: end;
    border-right: solid #13293d 3px;
    width: 200px;
    flex-direction: column;
    min-width: 200px;
  }
  
/* ======= content on right style ==========*/
  section {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* for the work section items */
  .work {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  section p {
    display: flex;
  }

  #article1 {
    background-image: url("../images/barn2.jpg");
    order: 1;
    width: 100% !important;
    min-width: 400PX;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-shrink: 2;
  }
  #article2 {
    background-image: url("../images/barn2.jpg");
    order: 2;
  }
  #article3 {
    background-image: url("../images/barn2.jpg");
    order: 3;
  }
  #article4 {
    background-image: url("../images/barn2.jpg");
    order: 4;
  }
  #article5 {
    background-image: url("../images/barn2.jpg");
    order: 5;
  }

  /* for articles 2-5 */
  .smaller-img {
    display: flex;
    width: 45% !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  /* for all images */
  .sample-img {
    display: flex;
    background-color: #fff;
    padding: 20px;
    height: 200px;
    border: 4px solid #68e2ed;
    margin: 10px;
  }

  /* link style */
  section a {
    text-decoration: none;
    text-align: center;
    border-bottom: #13293d 2px solid;
    font-size: 20px;
    color: black;
    padding: 10px;
    margin: 10px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* footer style */
  footer {
    text-align: center;
    margin: 10px;
    height: 40px;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  /* ======= media screensize alteration ==========*/
  @media screen and (max-width: 768px) {
    main,
    nav, footer, .links {
      flex-direction: column;
      align-items: center;
    }
    aside {
      border-right: none;
      border-bottom: solid #13293d 3px;
      text-align: center;
      align-content: center;
    }
  }
  